<div class="container">
    <div class="row">
        <div class="page-header clearfix">
            <h1 class='pull-left'>
                <a href="/">首页</a> >
                <a href="#"><%= title %></a>
            </h1>
            <h1 class='pull-right'>
                <a href="/admin/movie">录入</a> /  
                 <a href="/admin/list">列表</a>
            </h1>
        </div>
    </div>
</div>